absl-py==0.6.1
appdirs==1.4.3
astor==0.7.1
backcall==0.1.0
bleach==3.0.2
boto==2.49.0
boto3==1.9.78
botocore==1.12.78
CacheControl==0.12.5
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
distlib==0.2.8
distro==1.3.0
docutils==0.14
entrypoints==0.2.3
gast==0.2.0
grpcio==1.17.0
h5py==2.8.0
html5lib==1.0.1
idna==2.8
imageio==2.4.1
ipykernel==4.9.0
ipython==7.1.1
ipython-genutils==0.1.0
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.0
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterthemes==0.20.0
kaggle==1.5.1.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lesscpy==0.13.0
lockfile==0.12.2
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
msgpack==0.5.6
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.4.5
notebook==5.7.2
numpy==1.15.4
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pep517==0.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
ply==3.11
progress==1.4
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
psutil==5.4.8
ptyprocess==0.6.0
pycuda==2018.1.1
Pygments==2.3.0
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
python-dateutil==2.7.5
python-slugify==1.2.6
pytoml==0.1.20
pytools==2018.5.2
pytz==2018.7
PyYAML==3.13
pyzmq==17.1.0
requests==2.20.1
retrying==1.3.3
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
svgwrite==1.2.1
tensorboard==1.12.0
tensorflow==1.12.0
tensorflow-serving-api==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
Unidecode==1.0.23
urllib3==1.22
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.4.2
